@{
    ViewBag.Title = "Admin Dashboard";
}




<div class="row">
    <div class="col-md-3 mb-3">
        <a class="btn btn-primary w-100" asp-action="Kids">Manage Kids</a>
    </div>
    <div class="col-md-3 mb-3">
        <a class="btn btn-success w-100" asp-action="Events">Manage Events</a>
    </div>
    <div class="col-md-3 mb-3">
        <a class="btn btn-warning w-100" asp-action="AddEvent">Add Event</a>
    </div>
    <div class="col-md-3 mb-3">
        <a class="btn btn-danger w-100" asp-action="Logout">Logout</a>
    </div>
</div>
